div {
	margin:auto;
}
#intro-section{
	width: 400px;

} 

ul {
	margin: 14px;
	padding: 10px;
	background-color: #eff;
	
}

h1{
	font-family: sans-serif;
	color: green;
	background-color: #eff;
}

li {
	display: inline;
}

.common_link {
	text-decoration: none;
}